footer {}

footer a {
    text-decoration: none;
    color: var(--custom-text-secondary) !important;
    font-size: 14px;
}

footer a:hover {
    color: var(--custom-text-secondary-hover) !important;
}

footer>div.leftGroup {}

footer>div.leftGroup>a.hideSidebarButton {}

footer>div.leftGroup>a.consoleButton {}

footer>div.leftGroup>a.accountButton {}

footer>div.rightGroup {}

footer>div.rightGroup>a.layoutButton {}

footer>div.rightGroup>a.questionButton {}